
<form>
  <!--
    - OK Você vao pegar o name do input
    - OK Atribuir um ID dinamicamente pro input
    - Fazer o for do label dentro do cmail-form-field, ter o valor do id setado anteriormente.
    http://dontpad.com/soutinho
  -->
  <cmail-form-field>
    <input
      cmailInputField
      id="username"
      name="username"
      placeholder="Usuário">
  </cmail-form-field>

  <cmail-form-field>
    <input
      cmailInputField
      name="email"
      placeholder="E-mail">
  </cmail-form-field>


  <!-- [Para]
  <div class="cmailInputForm">
    <div
      [ngClass]="{ 'is-invalid': false }"
      class="mdl-textfield mdl-textfield--floating-label">
      <input
      required
      type="email"
      name="para" id="para" placeholder=" " class="mdl-textfield__input">
      <span class="mdl-textfield__error">Informar um "Para" é obrigatório!</span>
      <label class="mdl-textfield__label" for="para">Para: </label>
      <span class="mdl-textfield__formline"></span>
    </div>
  </div> ./[Para] -->

  <button type="submit">Cadastrar</button>
</form>
