<form (ngSubmit)="handleCadastroDeUsuario()" [formGroup]="formCadastro">
  <cmail-form-field [campo]="formCadastro.get('name')">
    <input
      cmailInputField
      name="name"
      formControlName="name"
      placeholder="Nome">
  </cmail-form-field>


  <cmail-form-field [campo]="formCadastro.get('username')">
    <input
      cmailInputField
      name="username"
      formControlName="username"
      placeholder="Usuário">
  </cmail-form-field>


  <cmail-form-field [campo]="formCadastro.get('phone')">
    <input
      cmailInputField
      id="phone"
      name="phone"
      formControlName="phone"
      placeholder="Telefone">
  </cmail-form-field>

  <cmail-form-field [campo]="formCadastro.get('avatar')">
    <input
      cmailInputField
      id="avatar"
      name="avatar"
      formControlName="avatar"
      placeholder="Avatar">
  </cmail-form-field>

  <cmail-form-field [campo]="formCadastro.get('password')">
    <input
      cmailInputField
      id="password"
      name="password"
      formControlName="password"
      placeholder="Senha">
  </cmail-form-field>


  <button type="submit">Cadastrar</button>
</form>
