<form (ngSubmit)="handleCadastroDeUsuario()" [formGroup]="formCadastro">

  <!-- Explicitamente -->
  <!-- Implicitamente -->
  <cmail-form-field [campo]="formCadastro.get('name')">
    <input
      cmailInputField
      name="name"
      formControlName="name"
      placeholder="Nome">


  </cmail-form-field>


  <cmail-form-field [campo]="formCadastro.get('username')">
    <input
      cmailInputField
      name="username"
      formControlName="username"
      placeholder="Usuário">
      {{ formCadastro.get('username').errors | json }}
  </cmail-form-field>


  <cmail-form-field [campo]="formCadastro.get('phone')">
    <input
      cmailInputField
      id="phone"
      name="phone"
      type="tel"
      formControlName="phone"
      placeholder="Telefone">
      <!-- O ideal aqui seria criar um componente ou uma
    validação customizada :) -->
      <span *ngIf="formCadastro.get('phone').errors?.pattern" class="mdl-textfield__error">
        Informar um telefone com "2222-2222" ou um celular com "2222-22229" é obrigatório
      </span>
  </cmail-form-field>

  <cmail-form-field [campo]="formCadastro.get('avatar')">
    <input
      cmailInputField
      id="avatar"
      name="avatar"
      formControlName="avatar"
      placeholder="Avatar">
  </cmail-form-field>

  <cmail-form-field [campo]="formCadastro.get('password')">
    <input
      cmailInputField
      id="password"
      name="password"
      formControlName="password"
      placeholder="Senha">
  </cmail-form-field>


  <button type="submit">Cadastrar</button>
</form>
