
<form (ngSubmit)="handleLoginUsuario()" [formGroup]="formLogin">
  <cmail-form-field [campo]="formLogin.get('login')">
    <input
      cmailInputField
      name="login"
      formControlName="login"
      placeholder="Login" />
  </cmail-form-field>

  <cmail-form-field [campo]="formLogin.get('senha')">
    <input
      cmailInputField
      name="senha"
      formControlName="senha"
      placeholder="Senha" />
  </cmail-form-field>

  <button type="submit">Logar</button>
  <div>
    <a href="/">
      Esqueci minha senha?
    </a>
  </div>
</form>
